@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    

    &__button{
        color: white;
        margin: 1rem;
        border: 1px solid $brown;
        border-radius: 5px;
        background-image: linear-gradient($orange, $yellow);
        width: 100px;
        height: 45px;
    }
}

.profile-outfit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #000000;

    &__header-high {
        color: $red;
        text-align: center;
    }

    &__header-low {
        color: $blue;
        text-align: center;
    }
}